<!DOCTYPE html>
<html lang="en">

{% include 'header.html'%}
  
<body>


<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#54366d;">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="{{url_for('home')}}">MovieLists</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{url_for('home')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Create List</a>
        </li>
        {% if  not current_user.is_authenticated: %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{url_for('login')}}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('register')}}">Register</a>
        </li>
        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
        {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" style="padding-top:50px;">
<div class="row">
  {% for category in category1 %}
  <div class="col-lg-2">
   
    <div class="card" style="padding-top:4px;">
      <img src="{{category.img_url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">{{ category.title}} list</p>
        <div>
          <a href="" class="button">Update</a>
        <a href="" class="button delete-button">Delete</a>
        <a href="" class="button delete-button">Description</a>
        
        </div>
        
  
      </div>
    </div>
   
          
  </div>
  {% endfor %}
</div>
  
</div>
<div class="container text-center add">

</div>

{% include 'footer.html'%} 


</body>
</html>

