<!DOCTYPE html>
<html lang="en">

{% include 'header.html'%}
  
<body>


<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#54366d;">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto" href="{{url_for('home')}}">MovieLists</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{url_for('home')}}">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{url_for('home')}}">Movie Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('watchlist')}}">Your WatchList</a>
          
        </li>
        {% if  not current_user.is_authenticated: %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{url_for('login')}}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('register')}}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('logout')}}">Contact Us</a>
        </li>
        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{url_for('logout')}}">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('watchlist')}}">{{current_user.name}}</a>
          
        </li>

        {% endif %}
      </ul>
    </div>
  </div>
</nav>


<div class="container-fluid" style="padding-top:2%;">
  <div class="row">
    <div class="col-lg-9">
      <div class="container big_screen" style="text-align:center" >
        <h3 id="h3" style="margin-left:100px;"> Popular Tv shows This Month</h3>
        
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-inner">
            <div class="carousel-item active" style="padding-left:10%;padding-right:10%;padding-bottom:4%;">
              <div class="row" style="text-align:center;">
                {%for popular in new_popular%}
            <div class="col-lg-4 col-md-4 images" >
              <img src="{{popular.image}}" style="height: 80%;">
          <h6>Number of Episodes: {{popular.numberOfEpisodes}}</h6>
            </div>
            
          {% endfor %}
              </div>
              
        
            </div>
            <div class="carousel-item" style="padding-left:10%;padding-right:10% ;padding-bottom:4%;">
              <div class="row">
                {%for popular in next_popular%}
            <div class="col-lg-4 col-md-4">
              <img src="{{popular.image}}" style="height:80%;">
          <h6>Number of Episodes: {{popular.numberOfEpisodes}}</h6>
            </div>
            
          {% endfor %}
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" >
            <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color:rgb(111, 13, 93);" ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"  style="background-color:rgb(111, 13, 93);"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      
      </div>
      <div class="container small-screen" >
        <div class="scroll">
      
          <div class="col-lg-4 col-md-4 imagez" >
            {%for popular in popular%}
            <img src="{{popular.image}}" style="height: 50%;" class="scroll_image">
        
            {% endfor %}
          </div>
          
        
      </div>
      </div>

      <div class="container" style="text-align:center;">
        <h5 >Your movies from your wishlist</h5>


      </div>
      <div class="container" style="text-align:center;">
        <h5>Recent trailers</h5>

      </div>

      <div class="container" style="text-align:center;">
        <h5>Donations</h5>

      </div>

      
      
    </div>
    <div class="col-lg-3"> 
      <div class="container text-center add">

        <div class="row" style="padding-top:3%">
          <h4>Entertainment News Around the World</h4>
          {% for newslist in news %}
          <div class="col-lg-12" style="padding-top:3%">
      
            <div class="card">
              <div class="card-title">
                <h6>{{newslist.title}}</h6>
              </div>
              <div class="card-body">
                <img src="{{newslist.image}}">
                <h6>{{newslist.description}}</h6>
                <a href="{{newslist.url}}">Full Article</a>
                <h6>Author: {{newslist.author}}</h6>
              </div>
        
            </div>
          </div>
          {% endfor %}
          
      
        </div>
      
      </div>
    </div>

  </div>

</div>




{% include 'footer.html'%} 


</body>
</html>

