<html lang="en">
{% include 'header.html'%}
  
<body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#54366d;">
        <div class="container-fluid">
          <a class="navbar-brand mx-auto" href="{{url_for('home')}}">MovieLists</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{url_for('home')}}">Home</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{url_for('home')}}">Movie Reviews</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('watchlist')}}">Your WatchList</a>
                
              </li>
              {% if  not current_user.is_authenticated: %}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{url_for('login')}}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('register')}}">Register</a>
              </li>
              {% else %}
      
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>


<div class="container">
  <div class="filter-div">   
    <form action="/category" method="get">
      <label for="category">Choose a category:</label>
        <select id="category" name="category">
          <option value="horror">horror</option>
          <option value="action">action</option>


        </select> 
      <button type="submit">Filter</button>
  </form>
  </div>

</div>


<div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="container" style="padding-top:50px;">

          <div class="row">
            {% for category in category1 %}
            <div class="col-lg-4">
             
              <div class="card" style="padding-top:4px;">
                <img src="{{category.img_url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Category: {{ category.category}} </p>
                  <div>
                    <a href="" class="button">Update</a>
                  <a href="" class="button delete-button">Delete</a>
                  <a href="" class="button delete-button">Description</a>
                  
                  </div>
                  
            
                </div>
              </div>
             
                    
            </div>
            {% endfor %}
          </div>
   
          <div class="row">
            {% if  not current_user.is_authenticated: %}
            <h5><a href="">All your favourite movies go here</a></h5>
            <h6><a href="">Add movies to this section</a></h6>
            <h6><a  href="{{url_for('login')}}">Login</a></h6>
            <h6><a href="{{url_for('register')}}">Register</a></h6>
            {% else %}
            {% for movie in movies %}
            <div class="col-lg-4 col-md-4 col-sm-4">
              
             {% if movie.author_id == current_user.id %}
              <div class="card" style="padding-top:4px;">
                <img src="{{movie.img_url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <a class="card-text" href="{{ url_for('find_category', category=movie.category) }}">Category: {{ movie.category}}</a>
                  <div>
                    <a href="{{ url_for('rate_movie', id=movie.id) }}" class="button">Update</a>
                  <a href="{{ url_for('delete_movie', id=movie.id) }}" class="button delete-button">Delete</a>
                  <a href="{{ url_for('delete_movie', id=movie.id) }}" class="button delete-button">Description</a>
                  
                  </div>
                  
            
                </div>
              </div>
              {% endif %}
             
                    
            </div>
            {% endfor %}
            {% endif %}
            
          </div>
            
          </div>
      </div>
      <div class="col-lg-4" style="padding-top:50px;padding-left:100px;background-color: antiquewhite;">
        
        {% if  not current_user.is_authenticated: %}
        <h5><a href="">Your lists go here</a></h5>
        <h6><a href="">Add movies to your list</a></h6>
  
        {%else%}
        {%for list in list%}
        {% if list==[] %}
        <a href="{{url_for('create_list')}}">Create List</a>
        {%endif%}
         {%if list.author_id == current_user.id %}
        <h5><a href="{{ url_for('show_list',list_id=list.id) }}">{{list.name}}</a></h5>
        <h6><a href="{{url_for('add_movie', list_id=list.id)}}">Add movie to this list</a></h6>
        <h6><a href="{{url_for('delete_list', id=list.id)}}">Delete this list</a></h6>
        
        {% endif %}
    {%endfor%}
    {%endif%}
    <a href="{{url_for('create_list')}}">Create  a new List</a>
      </div>
  
    </div>
  
  </div>


  {% include 'footer.html'%} 


</body>
</html>